* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
} 
.main-container{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  border: solid 1px pink;
  flex-grow: 1;
}
.left-box{
  width: 450px;
  height: 1000px;
  background-color: #EDAE9B;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  direction: ltr;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 100px;
  font-family: 'Lato', sans-serif;
}
.right-box{
  width: 60%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(182, 182, 185);
  font-family: 'Amatic SC', cursive;
  box-shadow: 4px 0px 17px 0px inset;
}
input {
  width: 250px;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: 1px solid black;
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 20px;
}
.comment{
  width: 250px;
  height: 200px;
}
button{
  height: 50px;
  width: 100px;
  border-bottom: solid black 1px;
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 20px;

}
button:hover{
  box-shadow: 4px 5px 8px;
}
@media (max-width: 600px) {
.main-container{ 
  flex-direction: column;
}
.right-box{
  width: 100%;}
.left-box{
  width: 100%;
}
